<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<context:component-scan base-package="zyf"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 测试了一下在xml里面引用java config -->
	<bean class="zyf.config.TestConfig"></bean>
	
	
	<!-- 
	<mvc:annotation-driven></mvc:annotation-driven>
	<context:annotation-config></context:annotation-config>
	 -->
	<!-- 
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="uploadTempDir" value="/tmp"></property>
		<property name="maxUploadSize" value="1048576"></property>
		<property name="maxInMemorySize" value="10240"></property>
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>
 	-->
 	
 	<import resource="classpath:jpaconfig.xml" />
</beans>
